:host ::ng-deep {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  & > * {
    margin-right: 0.5rem !important;
    &:last-child {
      margin-right: 0 !important;
    }
  }
}
