<mat-card [class]="class">
  <ng-container *ngIf="title">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
      <div *ngIf="actions">
        <button
          *ngFor="let action of actions"
          mat-icon-button
          (click)="action.action()"
        >
          <mat-icon class="action-icon">{{ action.icon }}</mat-icon>
        </button>
      </div>
    </mat-card-header>
  </ng-container>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-footer *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
