<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<app-title-bar [title]="breadcrumbs[1].title"></app-title-bar>
<form [formGroup]="form" markAllSubmit (validSubmit)="save()">
  <app-simple-card class="mb-2" [isLoading]="isLoading.getById">
    <div fxLayout="row wrap" fxLayoutGap="16px 8px grid">
      <app-text-field
        *ngFor="let value of clientEditSchema"
        [textFieldValue]="value"
        [form]="form"
        [fxFlex.xs]="value.xs"
        [fxFlex.sm]="value.sm"
        [fxFlex]="value.df"
      ></app-text-field>
    </div>
  </app-simple-card>
  <app-button-bar>
    <button type="button" mat-raised-button color="accent" (click)="goBack()">
      Volver
    </button>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </app-button-bar>
</form>
