<app-breadcrumbs
  [breadcrumbs]="[{ path: '', title: 'Facturas' }]"
></app-breadcrumbs>
<app-title-bar title="Facturas">
  <button mat-raised-button color="accent">Exportar</button>
</app-title-bar>
<app-simple-card class="mb-3">
  <form
    fxLayout="row wrap"
    fxLayoutGap="16px 8px grid"
    [formGroup]="filterForm"
    markAllSubmit
    (validSubmit)="filter()"
  >
    <app-text-field
      [fxFlex]="value.df"
      [fxFlex.xs]="value.xs"
      [fxFlex.sm]="value.sm"
      *ngFor="let value of invoiceFilterSchema"
      [textFieldValue]="value"
      [form]="filterForm"
    ></app-text-field>
    <div fxFlex="13.6%" fxFlex.xs="100%">
      <button mat-icon-button type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </form>
</app-simple-card>
<app-data-table
  [rows]="facturas"
  [columns]="facturaColumns"
  (refresh)="getInvoices()"
  [rowClass]="getRowClass"
  [showPagination]="false"
>
  <ng-template customColumn="pagado" let-value="value">
    <ng-container *ngIf="value.pagado == 'no'; else pagado">
      {{ value.estado == 0 ? "" : "Recibida" }}
    </ng-container>
    <ng-template #pagado>
      <app-chip variant="primary" [class]="'bg-' + value.pagado">
        {{ value.pagado }}
      </app-chip>
    </ng-template>
  </ng-template>
  <ng-template customColumn="acciones" let-value="value">
    <button
      *ngIf="hasPayment(value)"
      mat-icon-button
      matTooltip="Revertir pago"
      (click)="openRevertPaymentDlg(value)"
    >
      <mat-icon>undo</mat-icon>
    </button>
    <ng-container *ngIf="!isDisable(value)">
      <button mat-icon-button matTooltip="Recalcular Factura">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Editar factura">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Click para dar por pagada la factura"
        (click)="openPayDlg(value)"
      >
        <mat-icon>handshake</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Programar pago">
        <mat-icon>schedule</mat-icon>
      </button>
    </ng-container>
    <button mat-icon-button matTooltip="Ver la factura">
      <mat-icon>visibility</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Enviar por correo">
      <mat-icon>email</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Enviar por whatsapp">
      <mat-icon>smartphone</mat-icon>
    </button>
    <button
      *ngIf="value.contacto_verificado == null"
      mat-icon-button
      matTooltip="Contacto no verificado"
    >
      <mat-icon>unpublished</mat-icon>
    </button>
  </ng-template>
</app-data-table>
<mat-paginator
  [length]="query.length"
  [pageSize]="query.limit"
  [pageSizeOptions]="[5, 10, 25, 100]"
  showFirstLastButtons
  aria-label="Seleccionar pagina"
  class="mat-elevation-z2"
  (page)="changePage($event)"
>
</mat-paginator>
