<div class="map" #map></div>
<div class="order-status-root" #orderStatus>
  <div class="order-status">
    <mat-progress-bar *ngIf="!order" mode="indeterminate"></mat-progress-bar>
    <h1 *ngIf="order; else loading" class="status-text">
      {{ order.status | uppercase }}
    </h1>
    <ng-template #loading><span class="loading">loading...</span></ng-template>
    <div *ngIf="order && order.assignedDrivers" class="order-section">
      <h2 class="subtitle">Yo soy tu conductor</h2>
      <div class="driver-container">
        <img [src]="photoUrl" alt="profile" class="profile" />
        <div class="driver-info">
          <p>{{ order.assignedDrivers[0].name | titlecase }}</p>
          <p>Comunicate con {{ order.assignedDrivers[0].name | titlecase }}</p>
        </div>
        <button
          mat-icon-button
          matTooltip="Enviar Mensaje"
          (click)="sendMessage(order)"
        >
          <mat-icon>chat</mat-icon>
        </button>
      </div>
    </div>
    <hr *ngIf="order" />
    <div *ngIf="order" class="order-section">
      <h2 class="subtitle">Detalle del pedido</h2>
      <div class="text-box">
        <span>Dirección</span>
        <p>{{ order.to_address }}</p>
      </div>
      <div class="text-box">
        <span>Servicio</span>
        <p>Delivery / Estandar</p>
      </div>
    </div>
    <hr *ngIf="order" />
    <div *ngIf="order" class="order-section">
      <h2 class="subtitle">Productos</h2>
      <div class="product-box" *ngFor="let product of order.products">
        <div class="product-header">
          <div>
            <div class="quantity">x{{ product.quantity }}</div>
            {{ product.name }}
          </div>
          <span>{{ product.price }}</span>
        </div>
        <p>{{ product.description }}</p>
      </div>
    </div>
    <button
      mat-mini-fab
      color="primary"
      class="toggle"
      (click)="toggle(orderStatus)"
    >
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
</div>
