<div class="map" #map></div>
<div class="order-status-root" #orderStatus>
  <div class="order-status">
    <mat-progress-bar *ngIf="!order" mode="indeterminate"></mat-progress-bar>
    <h1 *ngIf="order; else loading" class="status-text">
      {{ status }}
    </h1>
    <div *ngIf="order" class="status-container">
      <div
        class="status-box"
        [ngClass]="{
          'bg-color-primary':
            order.status == 'pending' ||
            order.status == 'assigned' ||
            order.status == 'arrived' ||
            order.status == 'dispatched' ||
            order.status == 'delivered' ||
            order.status == 'complete'
        }"
      ></div>
      <div
        class="status-box"
        [ngClass]="{
          'bg-color-primary':
            order.status == 'assigned' ||
            order.status == 'arrived' ||
            order.status == 'dispatched' ||
            order.status == 'delivered' ||
            order.status == 'complete'
        }"
      ></div>
      <div
        class="status-box"
        [ngClass]="{
          'bg-color-primary':
            order.status == 'dispatched' ||
            order.status == 'delivered' ||
            order.status == 'complete'
        }"
      ></div>
      <div
        class="status-box"
        [ngClass]="{
          'bg-color-primary':
            order.status == 'delivered' || order.status == 'complete'
        }"
      ></div>
    </div>
    <ng-template #loading><span class="loading">loading...</span></ng-template>
    <div *ngIf="order && order.assignedDrivers" class="order-section">
      <h2 class="subtitle">I am your driver</h2>
      <div class="driver-container">
        <img [src]="photoUrl" alt="profile" class="profile" />
        <div class="driver-info">
          <p>{{ order.assignedDrivers[0].name | titlecase }}</p>
          <p>Contact {{ order.assignedDrivers[0].name | titlecase }}</p>
        </div>
        <button
          mat-icon-button
          matTooltip="Send Message"
          (click)="sendMessage(order)"
        >
          <mat-icon>chat</mat-icon>
        </button>
      </div>
    </div>
    <hr *ngIf="order" />
    <div *ngIf="order" class="order-section">
      <h2 class="subtitle">Order detail</h2>
      <div class="text-box">
        <span>Address</span>
        <p>{{ order.to_address }}</p>
      </div>
      <div class="text-box">
        <span>Service</span>
        <p>Delivery / Standard</p>
      </div>
      <div class="text-box">
        <span>Instructions</span>
        <p>{{ order.instructions }}</p>
      </div>
    </div>
    <hr *ngIf="order" />
    <div *ngIf="order" class="order-section">
      <h2 class="subtitle">Products</h2>
      <div class="product-box" *ngFor="let product of order.products">
        <div class="product-header">
          <div>
            <div class="quantity">x{{ product.quantity }}</div>
            {{ product.name }}
          </div>
          <span>{{ product.price }}</span>
        </div>
        <p>{{ product.description }}</p>
      </div>
    </div>
    <button
      mat-mini-fab
      color="primary"
      class="toggle"
      (click)="toggle(orderStatus)"
    >
      <mat-icon>{{ iconToggle }}</mat-icon>
    </button>
  </div>
</div>
