.title-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -0.5rem;
  margin-bottom: 1rem;
  align-items: center;
  & > div {
    margin: 0 0.5rem;
  }
}
.title {
  font-weight: bold;
  margin: 0.5rem;
}
