<app-breadcrumbs [breadcrumbs]="[{ path: '', title }]"></app-breadcrumbs>
<app-title-bar [title]="title">
  <button mat-button (click)="goCreate()">Crear</button>
  <button mat-button (click)="download()">Exportar</button>
</app-title-bar>
<app-simple-card class="mb-3">
  <form [formGroup]="form" markAllSubmit (validSubmit)="filter()">
    <app-text-field
      class="search-input"
      *ngFor="let value of clientFilterSchema"
      [form]="form"
      [textFieldValue]="value"
    ></app-text-field>
    <button type="submit" mat-icon-button><mat-icon>search</mat-icon></button>
  </form>
</app-simple-card>
<app-data-table
  [showPagination]="false"
  [rows]="clients"
  [columns]="clientColumns"
  (refresh)="filter()"
>
  <ng-template customColumn="actions" let-value="value"> </ng-template>
</app-data-table>
<mat-paginator
  [length]="query.length"
  [pageSize]="query.limit"
  [pageSizeOptions]="[5, 10, 20, 100]"
  showFirstLastButtons
  (page)="changePage($event)"
  class="mat-elevation-z2"
></mat-paginator>
