<ng-container [ngSwitch]="textFieldValue.fieldType" [formGroup]="form">
  <mat-form-field
    *ngSwitchCase="TextFieldType.Dropdown"
    appearance="legacy"
    [class]="class!"
    [ngClass]="{ 'full-width': textFieldValue.fullWidth ?? true }"
  >
    <mat-label>{{ textFieldValue.label }}</mat-label>
    <mat-select
      [formControlName]="textFieldValue.name"
      [multiple]="textFieldValue.multiple"
    >
      <mat-option
        *ngFor="let option of textFieldValue.options"
        [value]="option.value"
        >{{ option.label }}</mat-option
      >
    </mat-select>
    <mat-error *ngFor="let error of textFieldValue.validators">
      <ng-container *ngIf="control?.hasError(error.name)">
        {{ error.message }}
      </ng-container>
    </mat-error>
  </mat-form-field>
  <mat-form-field
    *ngSwitchCase="TextFieldType.Textarea"
    appearance="legacy"
    [class]="class!"
    [ngClass]="{ 'full-width': textFieldValue.fullWidth ?? true }"
  >
    <mat-label>{{ textFieldValue.label }}</mat-label>
    <textarea
      [style.min-height.rem]="textFieldValue.minRows"
      [style.max-height.rem]="textFieldValue.maxRows"
      matInput
      [type]="textFieldValue.type!"
      [formControlName]="textFieldValue.name"
      [readonly]="textFieldValue.readOnly"
    ></textarea>
    <mat-error *ngFor="let error of textFieldValue.validators">
      <ng-container *ngIf="control?.hasError(error.name)">
        {{ error.message }}
      </ng-container>
    </mat-error>
  </mat-form-field>
  <mat-form-field
    *ngSwitchCase="TextFieldType.DatePicker"
    appearance="legacy"
    [class]="class!"
    [ngClass]="{ 'full-width': textFieldValue.fullWidth ?? true }"
  >
    <mat-label>{{ textFieldValue.label }}</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [formControlName]="textFieldValue.name"
      [readonly]="textFieldValue.readOnly"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="picker"
      [disabled]="textFieldValue.disabled || textFieldValue.readOnly"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="control?.hasError('matDatepickerParse'); else errors">
      must be date
    </mat-error>
    <ng-template #errors>
      <mat-error *ngFor="let error of textFieldValue.validators">
        <ng-container *ngIf="control?.hasError(error.name)">
          {{ error.message }}
        </ng-container>
      </mat-error>
    </ng-template>
    <mat-hint *ngIf="textFieldValue.hint">{{ textFieldValue.hint }}</mat-hint>
  </mat-form-field>
  <mat-form-field
    *ngSwitchCase="TextFieldType.Autocomplete"
    appearance="legacy"
    [class]="class!"
    [ngClass]="{ 'full-width': textFieldValue.fullWidth ?? true }"
  >
    <mat-label>{{ textFieldValue.label }}</mat-label>
    <input
      matInput
      [formControlName]="textFieldValue.name"
      [readonly]="textFieldValue.readOnly"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="getOptionLabel.bind(this)"
      (optionSelected)="onOptionSelected($event)"
      (closed)="onClosed()"
    >
      <mat-option
        [disabled]="true"
        *ngIf="(filteredOptions | async)?.length == 0"
      >
        No data
      </mat-option>
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ getOptionLabel(option) }}
      </mat-option>
    </mat-autocomplete>
    <button
      mat-icon-button
      matSuffix
      *ngIf="control?.value"
      (click)="clearAutocomplete()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field
    *ngSwitchCase="TextFieldType.File"
    appearance="legacy"
    [class]="class!"
    [ngClass]="{ 'full-width': textFieldValue.fullWidth ?? true }"
  >
    <mat-label>{{ textFieldValue.label }}</mat-label>
    <button mat-icon-button matPrefix type="button" (click)="fileInput.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
    <input
      type="text"
      readonly
      matInput
      [formControlName]="textFieldValue.name"
    />
    <input
      type="file"
      [multiple]="textFieldValue.fileMultiple"
      hidden
      #fileInput
      [accept]="textFieldValue.fileAccept"
      (change)="handleFileInputChange(fileInput.files)"
    />
    <mat-error *ngFor="let error of textFieldValue.validators">
      <ng-container *ngIf="control?.hasError(error.name)">
        {{ error.message }}
      </ng-container>
    </mat-error>
  </mat-form-field>
  <mat-form-field
    *ngSwitchCase="TextFieldType.DropdownMultiSearch"
    appearance="legacy"
    [class]="class!"
    [ngClass]="{ 'full-width': textFieldValue.fullWidth ?? true }"
  >
    <mat-label>{{ textFieldValue.label }}</mat-label>
    <mat-select [formControlName]="textFieldValue.name" [multiple]="true">
      <mat-optgroup class="pt-2">
        <mat-form-field class="full-width">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="searchControl" />
          <button
            mat-icon-button
            matSuffix
            *ngIf="searchControl?.value"
            (click)="clearAutocomplete(searchControl)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </mat-optgroup>
      <mat-optgroup *ngIf="(filteredOptions | async)?.length == 0">
        No data
      </mat-optgroup>
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option.value"
        (onSelectionChange)="changeOption($event)"
        >{{ option.label }}</mat-option
      >
    </mat-select>
    <mat-error *ngFor="let error of textFieldValue.validators">
      <ng-container *ngIf="control?.hasError(error.name)">
        {{ error.message }}
      </ng-container>
    </mat-error>
  </mat-form-field>
  <mat-form-field
    *ngSwitchDefault
    appearance="legacy"
    [class]="class!"
    [ngClass]="{ 'full-width': textFieldValue.fullWidth ?? true }"
  >
    <mat-label>{{ textFieldValue.label }}</mat-label>
    <input
      matInput
      [type]="textFieldValue.type!"
      [formControlName]="textFieldValue.name"
      [readonly]="textFieldValue.readOnly"
    />
    <mat-error *ngFor="let error of textFieldValue.validators">
      <ng-container *ngIf="control?.hasError(error.name)">
        {{ error.message }}
      </ng-container>
    </mat-error>
  </mat-form-field>
</ng-container>
