<form [formGroup]="form" markAllSubmit (validSubmit)="save()">
  <h2 mat-dialog-title>Editar #{{data.id}}</h2>
  <div mat-dialog-content>
    <div class="of-h">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <app-text-field
          *ngFor="let value of editSchema"
          [form]="form"
          [textFieldValue]="value"
          [fxFlex.xs]="value.xs"
          [fxFlex.sm]="value.sm"
          [fxFlex]="value.df"
        ></app-text-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button cdkFocusInitial type="submit">Guardar</button>
  </div>
</form>
