<app-breadcrumbs [breadcrumbs]="[{ path: '', title }]"></app-breadcrumbs>
<app-title-bar [title]="title"></app-title-bar>
<app-simple-card class="mb-3">
  <app-form-builder
    [form]="form"
    [schema]="paymentFilterSchema"
    (frmSubmit)="filter()"
  ></app-form-builder>
</app-simple-card>
<app-data-table
  [rows]="paymentsDriver"
  [columns]="paymentsDriverColumns"
  (refresh)="getPaymentsDriver()"
>
  <ng-template customColumn="paymentMethod" let-value="value">
    <app-chip
      variant="accent"
      *ngIf="value.paymentMethod != null; else noPaid"
      >{{ paymentMethod[value.paymentMethod] }}</app-chip
    >
    <ng-template #noPaid>---</ng-template>
  </ng-template>
  <ng-template customColumn="actions" let-value="value">
    <button
      mat-icon-button
      matTooltip="Pagar"
      (click)="openPaymentDlg(value)"
      [disabled]="value.paidAt"
    >
      <mat-icon class="action-icon">payment</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Ver Detalle" (click)="goDetail(value)">
      <mat-icon class="action-icon">info</mat-icon>
    </button>
  </ng-template>
</app-data-table>
