/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  padding: 16px;
}
.active {
  background-color: #f4f4f4;
}
.mt2 {
  margin-top: 1rem;
}
.my-3 {
  margin: 1.5rem 0;
}
