/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  padding: 16px;
}
.active {
  background-color: #f4f4f4;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 1.5rem;
}
.my-3 {
  margin: 1.5rem 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-2 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 1.5rem;
}
.form-field-pb-0 .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
}
//snackBar  bg
.snackbar-bg {
  color: white;
}
.snackbar-bg-success {
  background-color: #43a047;
}
.snackbar-bg-warning {
  background-color: #ff9800;
}
.snackbar-bg-error {
  background-color: #d32f2f;
}
.snackbar-bg-info {
  background-color: #2196f3;
}
// facturas bg
.bg-pagado {
  background-color: #3dc1d3 !important; // #00a65a
}
.bg-parcial {
  background-color: #ff851b !important;
}
.bg-conciliado {
  background-color: #0000ff !important;
}
.bg-incobrable {
  background-color: #e15f41 !important; //#ff0000
}
.bg-en {
  background-color: #d7eff0 !important;
}
.bg-cobrar {
  background-color: #d0f1d0 !important;
}
.bg-cobro {
  background-color: #f5cd79 !important; //#f4c8c6
}
.bg-bloqueado td {
  color: #ececec !important; //#999999
  background-color: #778beb !important; //#e1e1e1
}
.bg-retirado td {
  color: #ececec !important; //#bcbcbc
  background-color: #786fa6 !important; //#6d4a4a
}
// end facturas bg
// app-title-bar
.title-bar {
  & > div {
    & > * {
      margin: 0.5rem 0;
      margin-right: 0.5rem;
    }
    & > *:last-child {
      margin-right: 0;
    }
  }
}
