@import "theme-variables.scss";

.chip {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  background-color: $background;
  border-radius: 0.4rem;
  font-size: 0.75rem;
  font-weight: 500;
}
.bg-primary {
  background-color: $primary-main;
  color: white;
}
.bg-accent {
  background-color: $accent-main;
  color: white;
}
.bg-warn {
  background-color: $warn-main;
  color: white;
}
